<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="accord">
  
  	<select id="sequence" resultType="long">
  		select accords_seq.nextval from dual 
  	</select>
  
  	<select id="findAll" resultType="AccordDto">
  		select accord_no, accord_name 
  		from accords 
  		order by accord_name 
  	</select>
  	
	<select id="findNoByName" resultType="int">
	 	SELECT accord_no
	 	FROM Accords
	    WHERE accord_name = #{accordName}
	</select>
	
	<insert id="add">
		insert into accords(
			accord_no, accord_name 
		) values(
			#{accordNo}, #{accordName} 
		)
	</insert>
	
	<update id="update">
		update accords
		set
		 accord_name = #{accordName} 
		where
		 accord_no = #{accordNo} 
	</update>
	
	<delete id="delete">
		delete accords where accord_no = #{accordNo} 
	</delete>
  	
  </mapper>