<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="addressList">
  	<!-- 시퀀스따로 인서트 -->
  	<insert id="insert">
  		insert into address_list (address_list_no, users_id , address_list_post, address_list_basic,
  									address_list_detail, address_list_default)
  		values(#{addressListNo}, #{usersId}, #{addressListPost}, #{addressListBasic}, #{addressListDetail},
  				#{addressListDefault})
  	</insert>
  	<!-- 시퀀스 -->
  	<select id="sequence" resultType="long">
  		select address_list_seq.nextval from dual
  	</select>
  	
  	<!--본인 주소지 조회 (전체)-->
  	<select id="selectAddressList" resultType="addressListDto">
  		select * from address_list where users_id = #{usersId} 
  	</select>
  	
  	<!-- 메인 주소지 변경할때 default 'Y'있나 찾기 있으면 실패 /메인주소뭔지 찾기도가능 -->
  	<select id="selectY" resultType="addressListDto">
  		select * from address_list where users_id = #{usersId} and address_list_default = 'Y'
  	</select>
  	
  	<!-- 메인주소지로 업뎃 -->
  	<update id="updateMain">
  		update address_list set address_default = 'Y' where address_list_no =#{addressListNo}
  	</update>
  	
  	<!-- 수정은 전체수정만 가능하도록(주소api사용) -->
  	<update id="update" >
  		update address_list set address_list_post =#{addressListPost}, address_list_basic =#{addressListBasic},
  								address_list_detail =#{addressListDetail} where address_list_no =#{addressListNo} and users_id = #{usersId}
  	</update>
  	<!-- 주소하나삭제 -->
  	<delete id="deleteOne">
  		delete from address_list where users_id = #{usersId} and address_list_no = #{addressListNo}
  	</delete>
  	
  	<!-- 메인주소삭제 ( 나중에 dao편하게 작업용 ) -->
  	<delete id="deleteMain">
  		delete from address_list where users_id = #{usersId} and address_list_default = 'Y'
  	</delete>
  	
  	<!-- 단일조회 (운영자나쓸듯) -->
  	<select id="selectOne"  resultType="addressListDto">
  		select * from address_list where address_list_no = #{addressListNo} and users_id =#{usersId}
  	</select>
  	
  </mapper>