<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
  
  <mapper namespace="cart_items">
  
  	<delete id="deleteByProductNo">
  		delete from cart_items where product_no = #{productNo}	
  	</delete>
  	
  </mapper>