<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cart">

	<!-- 유저의 카트리스트 / 최신순 --> <!-- orderby나뉠때 다시쿼리정리하러옴 -->
	<select id="list" resultType="cartViewVO">
		
	select * from(
	   select rownum rn, TMP.* from(     
		SELECT DISTINCT c.cart_no, 
       c.cart_item_no, 
       c.users_id, 
       c.cart_qty,
       c.volume_no AS cart_volume_no,
       p.product_no AS p_product_no,
       p.product_name, 
       p.product_detail, 
       p.product_price, 
       p.strength, 
       p.brand_name, 
       p.top_note,
       p.middle_note, 
       p.base_note, 
       p.attachment_name, 
       p.attachment_type, 
       p.attachment_size, 
       p.image_url, 
       v.volume_no AS v_volume_no,
       v.product_no AS v_product_no,
       v.volume_ml, 
       v.volume_stock, 
       v.volume_price
FROM cart c
LEFT OUTER JOIN product_detail_view p 
  ON c.cart_item_no = p.product_no
LEFT OUTER JOIN volume v
  ON c.volume_no = v.volume_no AND c.cart_item_no = v.product_no
WHERE c.users_id = 'siwoosiwoo'
ORDER BY c.cart_no DESC

	   )TMP
	) where rn between #{start} and #{end}


	</select>
	
	<!-- 카트 1개조회 (디테일) -->
	<select id="selectOne" resultType="cartViewVO">
		select c.*, p.*
		from cart c
		left outer join product_detail_view p
		ON c.cart_item_no = p.product_no
		WHERE c.users_id = #{usersId} and c.cart_item_no =#{cartItemNo}
		order by c.cart_no desc;
	</select>	

	<!-- 같은이름의 아이템이 들어올수 있으니 insert시 조회해봐야함-->
	<select id="selectProduct" resultType="cartDto">
		select * from cart where cart_item_no =#{cartItemNo} and users_id=#{usersId} and volume_no =#{volumeNo}
	</select>
	
	<!-- 있으면 수량만바꿔주기 -->
	<update id="qtyUp">
		update cart set cart_qty =#{cartQty} where users_id=#{usersId} and cart_no=#{cartNo}
	</update>
	
	<!-- 기본인서트 -->
	<insert id="createCart">
		insert into cart(cart_no, cart_item_no, users_id, cart_qty, volume_no)
		values(#{cartNo}, #{cartItemNo}, #{usersId}, #{cartQty}, #{volumeNo})
	</insert>
	
	<!-- 시퀀스 -->
	<select id="sequence" resultType="Long">
		select cart_seq.nextval from dual
	</select>
	
	<!-- 단일삭제 -->
	<delete id="delete">
		delete from cart where users_id=#{usersId} and cart_no = #{cartNo}
	</delete>
	
	<!-- 여러개삭제-->
<!-- 	<delete id="deleteList"> -->
<!--     DELETE FROM cart -->
<!--     WHERE cart_no IN -->
<!--     <foreach collection="cartNoList" item="cartNo" open="(" close=")" separator=","> -->
<!--         #{cartNo} -->
<!--     </foreach> -->
<!-- 	</delete> -->
</mapper>