<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="products">

  <!-- 상품 추가 -->
  <insert id="add">
    INSERT INTO products (
      product_no, product_name, product_detail,
      product_price, product_stock, product_created_at, 
      category_no, brand_no, strength
    ) VALUES (
      #{productNo}, #{productName}, #{productDetail},
      #{productPrice}, #{productStock}, SYSDATE, 
      #{categoryNo}, #{brandNo}, #{strength}
    )
  </insert>

  <!-- 상품 조회 -->
<select id="list" resultType="ProductsDto">
  SELECT
    p.*,
    a.attachment_no AS attachmentNo
  FROM
    products p
  LEFT JOIN
    product_img pi ON p.product_no = pi.product_no
  LEFT JOIN
    attachment a ON pi.attachment_no = a.attachment_no
  ORDER BY
    p.product_no ASC
</select>


  <!-- 상품 단일조회 -->
  <select id="find" resultType="ProductsDto">
    SELECT * FROM products WHERE product_no = #{productNo}
  </select>

  <!-- 상품 삭제 -->
  <delete id="delete">
    DELETE FROM products WHERE product_no = #{productNo}
  </delete>

  <!-- 상품 수정 -->
  <update id="update">
    UPDATE products SET
      product_name = #{productName},
      product_detail = #{productDetail},
      product_price = #{productPrice},
      product_stock = #{productStock},
      strength = #{strength},
      category_no = #{categoryNo},
      brand_no = #{brandNo}
    WHERE product_no = #{productNo}
  </update>

  <!-- 시퀀스 -->
  <select id="sequence" resultType="int">
    SELECT products_seq.nextval FROM dual
  </select>
	<!-- 향 계열 필터링 조회 -->
	<select id="selectByAccord" resultType="ProductsDto">
	  SELECT p.*
	  FROM products p
	  INNER JOIN PRODUCTACCORD pa ON p.product_no = pa.product_no
	  WHERE pa.accord_no = #{accordNo}
	  ORDER BY p.product_no ASC
	</select>

</mapper>
