<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="productImg">
  	<select id="add">
  		select into product_img (
  			attachment_no, product_no
  		) values (
  			#{attchmentNo}, #{productNo} 
  		)
  	</select>
  </mapper>