<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="room">

  	<select id="sequence" resultType="long">
  		select room_seq.nextval from dual
  	</select>
  	
  	<select id="check">
  		select * from room
  		where room_no = #{roomNo} and users_id = #{usersId}
  	</select>
  
	<insert id="create">
		insert into room(room_no, room_title, room_owner)
	    values(#{roomNo}, #{roomTitle}, #{roomOwner})  	
	</insert>
  	
  	<select id="list" resultType="RoomDto">
  		select * from room order by room_no desc
  	</select>
  	
  	<select id="find" resultType="RoomDto">
  		select * from room where room_no = #{roomNo}
  	</select>
  	
  	<delete id="delete">
  		delete room where room_no = #{roomNo}
  	</delete>

 	<insert id="enter">
	    insert into room(room_no, users_id)
	    values(#{roomNo}, #{usersId})
  	</insert>

	<delete id="leave">
		delete room
		where room_no = #{roomNo} and account_id = #{accountId} 
	</delete>
  	  	
  </mapper>