<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="scentRecommendation">
  
  <!-- select -->
  <select id="list" resultType="MachingListVO">
  	select sr.*, p.product_name
	from scent_recommendation sr
	join products p on sr.product_no = p.product_no
  </select>
  
  <!-- 관리자가 설정하고싶은 아이템으로변경ㅋ -->
  <update id="changeProduct">
  	update scent_recommendation set product_no = #{productNo}
  	where scent_recommendation_no = #{scentRecommendationNo}
  </update>
  
  <update id="changeComment">
  	update scent_recommendation set scent_recommendation_comment = #{scentRecommendationComment}
  	where scent_recommendation_no =#{scentRecommendationNo}
  </update>
<!--   상품번호찾기 -->
  <select id="findProduct"  resultType="int">
  	select product_no from scent_recommendation where top_score_type=#{topScoreType}
  </select>
<!--   zzzzzzzzzzzz프로덕트no가 중복인ㅋㅋ -->
 <select id="product" resultType="productDetailViewDto">
  select * from (
    select * from product_detail_view where product_no = #{productNo}
  ) where rownum = 1
</select>
<!-- 이건 dto반환 -->
<select id="finalData" resultType="scentRecommendationDto">
	select * from scent_recommendation where top_score_type=#{topScoreType}
</select>


  </mapper>
  