<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="users">
 
  <!-- 가입 -->
  <insert id="join">
  	insert into users(users_id, users_name, users_pw, users_contact, users_birth, users_email)
  	values(#{usersId}, #{usersName}, #{usersPw}, #{usersContact}, #{usersBirth}, #{usersEmail})
  </insert>
  <insert id="naverJoin">
  	insert into users(users_id, users_name, users_pw, users_contact, users_birth, users_email, users_provider)
  	values(#{usersId}, #{usersName}, #{usersPw}, #{usersContact}, #{usersBirth}, #{usersEmail}, #{usersProvider})
  </insert>
  <!-- id찾기 -->
  <select id="findId" resultType="usersDto">
  	select * from users where users_id = #{usersId}
  </select>
  
  <!--상세 조회-->
  <select id="find" resultType="usersDto">
  	select * from users where users_id = #{usersId}
  </select>
  
  <!-- 비번업데이트 -->
  <update id="updatePw" parameterType="map">
  update users set users_pw = #{usersPw} where users_id = #{usersId}
  </update>
  
  <!-- 아이디로 이메일찾기 -->
  <select id="findEmail" resultType="string">
  	select users_email from users where users_id = #{usersId}
  </select>
  
  <update id="update" >
  	update users set users_name=#{usersName}, users_contact=#{usersContact},
  	users_birth=#{usersBirth}, users_email=#{usersEmail} where users_id =#{usersId}
  </update>
  
  <delete id="delete">
  	delete from users where users_id = #{usersId}
  </delete>
  
  <!-- 네이버인지아닌지 ㅡㅡ -->
  <select id="findNaver" resultType="string">
  	select users_provider from users where users_id =#{usersId} 
  </select>
  
<!--   유저목록조회 -->
    <select id="usersList" resultType="ManagementResponseVO">
    SELECT * FROM (
      SELECT ROWNUM rn, TMP.* FROM (
        SELECT * from users
        <include refid="where"></include>
        order by users_name asc
      ) TMP
    ) 
    WHERE rn BETWEEN #{start} AND #{end}
  </select>
  
  <sql id="where">
  	 <where>
    <if test="usersId != null">
      AND INSTR(users_id, #{usersId}) > 0
    </if>

    <if test="usersName != null">
      AND INSTR(users_name, #{usersName}) > 0
    </if>

    <if test="usersEmail != null">
      AND INSTR(users_email, #{usersEmail}) > 0
    </if>

    <if test="usersProvider != null">
      AND users_provider=#{usersProvider}
    </if>
  </where>
  </sql>
  
    <select id="count" resultType="int">
  	select count(*) from users
  </select>
  
  </mapper>